<% provide(:title, 'All Patients') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-align-justify"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Patients</span>
			</div>
			<div class="pull-right">
				<div class="icon-title">
					<%= link_to patients_path(format: "csv") do%> <i> Download CSV <span class="glyphicon glyphicon-save"></span></i></a> <%end%>
				</div>
			</div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered" id="datatable_patients">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Villiage Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @patients.each do |patient| %>
					<tr>
						<td><%= patient.firstName%></td>
						<td><%= patient.familyName%></td>
						<td><%= patient.villageName%></td>
						<td style="text-align: right;"><%= link_to "View", patient,:class => "btn btn-info btn-sm" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="clearfix"></div>
		</div>
		<%= button_to 'Back', home_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
</div>
