<% provide(:title, @patient.firstName) %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Patient Information</span>
			</div>
		</div>
		<div class="grid-content">
			<table class="table table-striped">
				<thead>
					<tr></tr><tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>
						<div class="grid-content">
							<table class="table table-striped">
								<thead>
									<tr></tr>
								</thead>
								<tbody>
									<tr>
										<td>First Name: </td>
										<td><%= @patient.firstName %></td>
									</tr>
									<tr>
										<td>Family Name: </td>
										<td><%= @patient.familyName %> </td>
									</tr>
									<tr>
										<td>Village: </td>
										<td><%= @patient.villageName %></td>
									</tr>
									<tr>
										<td>Birthday: </td>
										<td> <%= Time.at(@patient.age).strftime("%m/%d/%Y") %> </td>
									</tr>
									<tr>
										<td>Age </td>
										<td> <%= Time.now.year - Time.at(@patient.age).year - (Time.at(@patient.age).to_time.change(:year => Time.now.year) > Time.now ? 1 : 0)%> </td>
									</tr>
									<tr>
										<td>Sex:</td>
										<td> <%= sex(@patient.sex) %> </td>
									</tr>
								</tbody>
							</table>
						</div></td>
					</tr>
				</tbody>
			</table>
			<div>
				<div class="grid-content">
					<h2> Visitations </h2>
				</div>
				<div class="panel-group">
					<% @count = 100 %>
					<% @visits.each do |visit| %>
					<% @count = @count + 1 %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a onclick="openChild(this);" ids="<%= @count %>" href="#"><%= show_date(visit.triageIn)%> </a></h4>
						</div>
						<div id="<%= @count %>" status="closed" style="display: none;">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#vitals<%= visit.triageIn %>" data-toggle="tab">Vitals</a>
								</li>
								<li>
									<a href="#observation<%= visit.triageIn %>" data-toggle="tab">Observation</a>
								</li>
								<li>
									<a href="#diagnosis<%= visit.triageIn %>" data-toggle="tab">Doctor's Diagnosis</a>
								</li>
								<li>
									<a href="#medication<%= visit.triageIn %>" data-toggle="tab">Prescribed Medication</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="vitals<%= visit.triageIn %>">
									<table class="table table-bordered table-mod-2">
										<thead></thead>
										<tbody>
											<tr>
												<td><h4>Weight: </h4></td>
												<td><%= visit.weight %></td>
												<td><h4>Blood Pressure: </h4></td>
												<td><%= visit.bloodPressure %> </td>
											</tr>
											<tr>
												<td><h4>Heart Rate: </h4></td>
												<td><%= visit.heartRate %></td>
												<td><h4>Respiration: </h4></td>
												<td><%= visit.respiration %> </td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="observation<%= visit.triageIn %>">
									<table class="table table-bordered table-mod-2">
										<thead></thead>
										<tbody>
											<tr>
												<td><h4>Condition: </h4></td>
												<td><%= visit.condition %></td>
											</tr>
											<tr>
												<td><h4>Recorded by Nurse: </h4></td>
												<td><%= visit.nurseId %></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="diagnosis<%= visit.triageIn %>">
									<table class="table table-bordered table-mod-2">
										<thead></thead>
										<tbody>
											<tr>
												<td><h4>Doctor In: </h4>
													<% if visit.doctorIn == nil%>
														Doctor did not saw patient
													<% else %>
														<%= Time.at(visit.doctorIn) %>
													<% end %>
												</td>
												<td><h4>Doctor Out: </h4>
													<% if visit.doctorIn == nil%>
														Doctor did not saw patient
													<% else %>
														<%= Time.at(visit.doctorOut) %>
													<% end %>
												</td>
											</tr>
											<tr>
												<td><h4>Observation: </h4></td>
												<td><%= visit.observation %></td>
											</tr>
											<tr>
												<td><h4>Observation: </h4></td>
												<td><%= visit.assessment %></td>
											</tr>
											<tr>
												<td><h4>Recorded By Doctor: </h4></td>
												<td><%= visit.doctorId %></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="medication<%= visit.triageIn %>">
									<% @prescription = Prescription.where("\"visitationId\" = ?",visit.visitationId)[0] %>
									<% if @prescription != nil %>
									<table class="table table-bordered table-mod-2">
										<thead></thead>
										<tbody>
											<tr>
												<td><h4>Medication Name </h4></td>
												<td><%= @prescription.medName %></td>
											</tr>
											<tr>
												<td><h4>Medication Notes </h4></td>
												<td><%= @prescription.medicationNotes %></td>
											</tr>
											<tr>
												<td><h4>Time of Day: </h4></td>
												<td><%= @prescription.timeOfDay %></td>
											</tr>
											<tr>
												<td><h4>Tablet per Day: </h4></td>
												<td><%= @prescription.tabletPerDay %></td>
											</tr>
											<tr>
												<td><h4>Instructions: </h4></td>
												<td><%= @prescription.instructions %></td>
											</tr>
										</tbody>
									</table>
									<% else %>
									<table class="table table-bordered table-mod-2">
										<thead></thead>
										<tbody>
											<tr>
												<td><b>No information recorded</b></td>
											</tr>
										</tbody>
									</table>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function openChild(e) {
var ids = $(e).attr("ids");
if ($("#" + ids).attr("status") == "closed") {
$("#" + ids).slideDown();
$("#" + ids).attr("status", "open");
} else {
$("#" + ids).slideUp();
$("#" + ids).attr("status", "closed");
}
}
</script>

