<% provide(:title, "Edit Application User") %>
<div class="block">
	<div id="main" role="main">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<div class="icon-title">
						<i class="icon-edit"></i>
					</div>
					<span>Edit Application User</span>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-content">
				<%= form_for(@appuser, :html => { :multipart => true, role: "form" }) do |f| %>
					<%= render 'shared/error_messages_appuser' %>
					<div class="formRow">
						<%= f.label :password, "Password", class: "label-gray"%>
						<div class="formRight">
							<%= f.password_field :password , :placeholder => 'Password' ,class: "form-control", type: "password"%>
						</div>
					</div>
					<%= f.submit "Save changes", :class => "btn btn-large btn-block btn-info" %>
					<%= link_to 'Back', @appuser, :class => "btn btn-large btn-block btn-default" %>
				<%- end -%>
			</div>
		</div>
	</div>
</div>