<% provide(:title, "Edit Application User") %>
<%= render 'layouts/sidebar' %>
<div class="block">
	<div id="main" role="main">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>Edit Application User</span>
				</div>
			</div>
			<div class="grid-content">
				<%= form_for @appuser, :html => { :multipart => true, role: "form"  } do |f| %>
					<%= render 'shared/error_messages_appuser' %>
					<div class="formRow">
						<%= f.label :firstName, "First Name", class: "label-gray"%>
						<div class="formRight">
							<%= f.text_field :firstName,class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :lastName, "Last Name", class: "label-gray"%>
						<div class="formRight">
							<%= f.text_field :lastName,class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
						</div>
					</div>
					<div class="formRow">
					<%= f.label :email, "Email", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :email,class: "form-control", type: "email", required: "true",autocomplete: "off"  %>
					</div>
					</div>
					<div class="formRow">
						<%= f.label :userName, "Username", class: "label-gray"%>
						<div class="formRight">
							<%= f.text_field :userName,class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
						</div>
					</div>
					<% if current_user.userType != 0 %>
						<div class="formRow">
							<%= f.label :charityid, class: "label-gray"%>
							<div class="formRight">
								<%= f.collection_select :charityid, Charity.where("charityid = ? AND status = 1",current_user.charityid),:charityid,:name,class: "form-control", required: "true"%>
							</div>
						</div>
					<% else %>
						<div class="formRow">
							<%= f.label :charityid, class: "label-gray"%>
							<div class="formRight">
								<%= f.collection_select :charityid, Charity.where("status = 1"),:charityid,:name,class: "form-control", required: "true" %>
							</div>
						</div>
					<% end %>
					<div class="formRow">
						<%= f.label :userType, class: "label-gray"%>
						<div class="formRight">
							<%= f.select :userType, [['Nurse',0], ['Doctor',1], ['Pharmacist',2], ['Application Admin',3]],class: "form-control", required: "true" %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :status, class: "label-gray"%>
						<div class="formRight">
							<%= f.select :status, [['Active',1], ['Inactive',0]],class: "form-control", type: "text", required: "true" %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label "Pictures" , class: "label-gray" %>
						<div class="formRight">
							<%= f.file_field :avatar ,class: "form-control", type: "file"%>
							<span><b>(Insert an image extention jpg or png with size less than 2 MB)</b></span>
						</div>
					</div>
					<div class="formRow">
					<% unless @appuser.new_record? || !@appuser.avatar? %>
						<div>
							<%= f.label(:delete_avatar, 'Delete photo') %>
							<%= image_tag(@appuser.avatar.url, :alt => 'Photo', :title => 'Current photo') %>
							<%= f.check_box(:delete_avatar) %>
						</div>
					<% end %>
					</div>
					<%= f.submit "Save changes", :class => "btn btn-large btn-block btn-info"%>
					<%= link_to 'Back', @appuser, :class => "btn btn-large btn-block btn-default" %>
					<%= link_to 'Change Password', change_password_appuser_path(@appuser.appuserid), :class => "btn btn-large btn-block btn-warning" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
