<% provide(:title, @appuser.firstName ) %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Application User Information</span>
			</div>
		</div>
		<div class="grid-content padding-none">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>
						<div class="grid-content">
							<ul>
								<div class="thumbnail">
									<%= image_tag @appuser.avatar.url(:medium) %>
									<div class="caption">
										<h3>Profile Picture</h3>
									</div>
								</div>
								</li>
							</ul>
						</div></td>
						<td style="width: 950px;">
						<div class="grid-content">
							<table class="table table-striped">
								<tbody>
									<tr>
										<td>First Name: </td>
										<td><%= @appuser.firstName %></td>
									</tr>
									<tr>
										<td>Last Name: </td>
										<td><%= @appuser.lastName %> </td>
									</tr>
									<tr>
										<td>User Name: </td>
										<td><%= @appuser.userName %> </td>
									</tr>
									<tr>
										<td>Email: </td>
										<td><%= @appuser.email %></td>
									</tr>
									<tr>
										<td>Charity: </td>
										<td><%= @appuser.charityName %> </td>
									</tr>
									<tr>
										<td>User Type:</td>
										<td> <%= type_of_appuser( @appuser.userType ) %> </td>
									</tr>
									<tr>
										<td>User Status:</td>
										<td> <%= status( @appuser.status ) %> </td>
									</tr>
								</tbody>
							</table>
						</div></td>
					</tr>
				</tbody>
			</table>
			<% if  admin_user? %>
				<%= link_to "Edit Profile", edit_appuser_path(@appuser.appuserid),  :class => "btn btn-large btn-block btn-info"%>
			<% end %>
			<%= link_to 'Back', appusers_path, :class => "btn btn-default btn-large btn-block" %>
		</div>
	</div>
</div>

