<div id="header" role="banner">
	<!--Logo-->
	<div class="left" style="margin-left: 15px;"><img src="/images/Logo.png" alt="Mobile Clinic" width="55" height="55">
	</div>
	<%= link_to "MOBILE CLINIC", home_path, class: "logo" %>
	<!--Logo END-->
	<!-- Profile Box -->
	<div class="right">
		<div class="dropdown left profile" >
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<div class="profile-avatar">
					<%= image_tag @current_user.avatar.url(:medium) %>
				</div>
				<div class="profile-username">
					<span>Welcome,</span> <%= current_user.firstName %> <%= current_user.lastName %>
				</div>
				<div class="profile-caret">
					<span class="caret"></span>
				</div> 
			</a>
			<div id="dropdown-menu" class="dropdown-menu pull-right profile-box">
				<div class="triangle-3"></div>
				<ul class="profile-navigation">
					<li>
						<%= link_to current_user do%>
							<i class="icon-user"> </i><i>My Profile </i>
						<%end%>
					</li>
					<li>
						<%= link_to edit_user_path(current_user) do%>
							<i class="icon-cog"> </i><i>Edit Profile </i>
						<%end%>
					</li>
					<li>
						<%= link_to signout_path, method: "delete" do%>
							<i class="icon-off"> </i><i>Sign out</i>
						<%end%>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

</div>

<!-- Check if you are signed in. -->

