<div id="wrapper">
	<div id="login" class="animate form position">
			<%= form_for(:session, url: sessions_path, class: "form-login", role: "form") do |f| %>
			<div class="content-login">
				<div class="header">Account Login</div>
			
				<div class="grid-content overflow">
					<%= f.text_field :userName, placeholder: "User Name", class: "form-control", type: "text" %>
				</div>
				<div class="grid-content overflow">
					<%= f.password_field :password, placeholder: "Password", class: "form-control", type: "password" %>
				</div>
			
				<div class="link-2"><p><%= link_to "forgotten password?", new_password_reset_path %></p></div>
				<div class="clear"></div>
				<div class="button-login">
					<%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block" %>
				</div>
			</div>
			
			<div class="footer-login">
			 <div class="clear"></div>
			</div>
	   <% end %>
	</div>         
</div>
