<% provide(:title, "Dashboard") %>
<div class="block">
	<div class="pagetitle">
		<h1>Dashboard.</h1>
		<div class="clearfix"></div>
	</div>

	<div class="row-fluid">
		<!--visitor statistics-->
		<div class="gridmine span5" style="width: 350px; margin-left: 50px; float: left; height: 300px;">
			<div class="grid-title">
				<div class="pull-left">
					<div class="icon-title">
						<i class="icon-file"></i>
					</div>
					<span>Visits Statistics</span>
					<div class="clearfix"></div>
				</div>
				<div class="pull-right">
					<div class="icon-title">
						<a href="#"><i class="icon-refresh"></i></a>
					</div>
					<div class="icon-title">
						<a href="#"><i class="icon-cog"></i></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-content overflow">
				<ul class="list-visitor">
					<li>
						Visits:
						<span class="number"><%= @visits.count%></span>
					</li>
					<li>
						New Visits:
						<span class="number"><%= @newVisits.count%> </span>
					</li>
					<li>
						Return Visits:
						<span class="number"><%= @returnVisits.count%></span>
					</li>
				</ul>
			</div>

		</div>
		<!--visitor statistics END-->

		<!--friends-->
		<div class="gridmine span5" style="width: 500px; margin-left:100px; float: left; height: 350px;">
			<div class="grid-title">
				<div class="pull-left">
					<div class="icon-title">
						<i class="icon-user"></i>
					</div>
					<span style="width: 250px;">Latest Updated Patient</span>
					<div class="clearfix"></div>
				</div>
				<div class="pull-right">
					<div class="icon-title">
						<a href="#"><i class="icon-refresh"></i></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-content overflow">
				<div class="friends chat">
					<% @patients.each do |patient| %>
					<div class="friend">
						<%= image_tag patient.picture.url(:medium) , class: "f-avatar" %>
						<div class="f-actions">
							<%= link_to "View", patient, class: "f-actions" %>
						</div>
						<div class="f-info">
							<div class="f-name">
								<%= patient.firstName%> <%= patient.familyName%>
							</div>
							<div class="f-text">
								<%= patient.villageName%>
							</div>
							<div class="f-text">
								<%= patient.updated_at.to_formatted_s(:long_ordinal) %>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<% end%>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

