<% provide(:title, "Dashboard") %>
<div class="block">
	<div class="pagetitle">
		<h1>Dashboard.</h1>
		<div class="clearfix"></div>
	</div>

	<div class="row-fluid">
		<!--visitor statistics-->
		<div class="gridmine span5" style="width: 25%; margin-left: 25px; float: left; height: 250px;">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-stats"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>Visits Statistics</span>
				</div>
			</div>
			<div class="grid-content overflow">
				<ul class="list-visitor">
					<li>
						Visits:
						<span class="number"><%= @visits.count%></span>
					</li>
					<li>
						New Visits:
						<span class="number"><%= @newVisits.count%> </span>
					</li>
					<li>
						Return Visits:
						<span class="number"><%= @returnVisits.count%></span>
					</li>
				</ul>
			</div>

		</div>
		<!--visitor statistics END-->

		<!--friends-->
		<div class="gridmine span5" style="width: 40%; margin-left:80px; float: left; height: 350px;">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-stats"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>Latest Updated Patient</span>
				</div>
			</div>
			<div class="grid-content overflow">
				<div class="friends chat">
					<% @patients.each do |patient| %>
					<div class="friend">
						<div class="f-actions">
							<%= link_to "View", patient, class: "f-actions" %>
						</div>
						<div>
							<div class="f-name">
								Name: <%= patient.firstName%> <%= patient.familyName%>
							</div>
							<div class="f-text">
								<b>Village:</b> <%= patient.villageName%>
							</div>
							<div class="f-text">
								<b>Uploaded:</b> <%= patient.updated_at.to_formatted_s(:long_ordinal) %>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<% end%>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

