<% provide(:title, "Edit Charity") %>
<div class="block">
	<div id="main" role="main">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>Edit Charity</span>
				</div>
			</div>
			<div class="grid-content">
				<%= form_for(@charity, :html => { :multipart => true, role: "form" }) do |f| %>
				<%= render 'shared/error_messages_charity' %>
				<div id="message" style="display:none; border: 1px solid red; color: black; background-color: lightyellow; padding-left: 10px;">
					If you inactivate this charity, all the Application Users and the Local Charity
					Administrators will be incativated as well.
				</div>
				<div class="formRow">
					<%= f.label :name, "Name", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :name, class: "form-control",required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :status, "Status", class: "label-gray"%>
					<div class="formRight">
						<%= f.select :status, [['Active',1], ['Inactive',0]], class: "form-control",required: "true" %>
					</div>
				</div>
				<div style="height: 100px;"></div>
				<%= f.submit "Save changes", :class => "btn btn-large btn-block btn-info"%>
				<%= link_to 'Back', @charity,:class => "btn btn-large btn-block btn-default" %>
				<%- end -%>
			</div>
		</div>
	</div>
</div>

