<% provide(:title, 'All Charity Organizations') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-align-justify"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Charities</span>
			</div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered" id="datatable_charity">
				<thead>
					<tr>
						<th> Charity Name </th>
						<th> Status </th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% (@charities).each do |charity| %>
					<tr>
						<td> <%= charity.name %> </td>
						<td> 
						<% if charity.status == 1 %>
							Active
						<% else %>
							Inactive
						<% end %> 
						</td>
						<td style="text-align: right;"><%= link_to "View", charity, :class => "btn btn-info btn-sm" %> <%= link_to "Edit", edit_charity_path(charity.charityid), :class => "btn btn-info btn-sm" %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
			<div class="clearfix"></div>
		</div>
		<%= link_to "Create Charity", new_charity_path, :class => "btn btn-large btn-block btn-info"%>
		<%= button_to 'Back', home_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
</div>