<% provide(:title, 'Create Charity Organization') %>
<div class="block">
	<div class="block">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>New Charity</span>
				</div>
			</div>
			<div class="grid-content">
				<%= form_for @charity, html: {role: "form"} do |f| %>
				<%= render 'shared/error_messages_charity' %>
				<div class="formRow">
					<%= f.label :name, "Name", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :name , class: "span input", :placeholder => 'Charity Name', :class => "form-control",required: "true", autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :status, "Status", class: "label-gray"%>
					<div class="formRight">
						<%= f.select :status, [['Active',1]], class: "form-controller",required: "true"  %>
					</div>
				</div>
				<%= f.submit "Create Charity", :class => "btn btn-large btn-block btn-info"%>
				<%= link_to 'Back', charities_path, :class => "btn btn-large btn-block btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
</div>