<% provide(:title, "Edit user") %> 
<%= @user.updating_password %>

<%= form_for(@user) do |f| %>


<%= render 'shared/error_messages' %>


<div class="modal-body">
  <div class="grid-content overflow">
    <%= f.password_field :password , class: "span input", :placeholder => 'Password' %>
  </div>
  
  <div class="grid-content overflow">
    <%= f.password_field :password_confirmation , class: "span input", :placeholder => 'Confirmation' %>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-large btn-block btn-info">Save changes</button>
  <button class="btn btn-large btn-block btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
  
</div>
<% end %>
