<% provide(:title, "Edit user") %>
<div class="block">
	<div id="main" role="main">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<div class="icon-title">
						<i class="icon-edit"></i>
					</div>
					<span>Edit User</span>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-content">
				<%= form_for(@user, :html => { :multipart => true, role: "form" }) do |f| %>
					<%= render 'shared/error_messages' %>
					<div class="formRow">
						<%= f.label :password, "Password", class: "label-gray"%>
						<div class="formRight">
							<%= f.password_field :password, class: "form-control", type: "password", required: "true",autocomplete: "off" %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :password_confirmation, "Password Confirmation", class: "label-gray"%>
						<div class="formRight">
							<%= f.password_field :password_confirmation, class: "form-control", type: "password", required: "true",autocomplete: "off" %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :question, "Security Question", class: "label-gray"%>
						<div class="formRight">
							<%= f.select :question, [['Who was your childhood hero?',1], ['What is the name of the company of your first job?',2], ['What was your childhood nickname?',3], ['What school did you attend for sixth grade?',4], ['What street did you live on in third grade?',5]], class: "form-control", required: "true"  %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :answer, "Security Answer", class: "label-gray"%>
						<div class="formRight">
							<%= f.text_field :answer, class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
						</div>
					</div>
					<%= f.submit "Save changes", :class => "btn btn-large btn-block btn-info" %>
					<%= link_to 'Back', @user, :class => "btn btn-large btn-block btn-default" %>
				<%- end -%>
			</div>
		</div>
	</div>
</div>