<% provide(:title, 'All Cloud Users') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<div class="icon-title">
					<i class="icon-user"></i>
				</div>
				<span>Users</span>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered" id="datatable_users">
				<thead>
					<tr>
						<th> First Name </th>
						<th> Last Name </th>
						<th> User Type </th>
						<th> Charity </th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% (@users).each do |user| %>
					<tr>
						<td> <%= user.firstName %> </td>
						<td> <%= user.lastName %> </td>
						<td> <%= type_of_user(user.userType) %> </td>
						<td> <%= Charity.find(user.charityid).name %> </td>
						<td style="text-align: right;"> <div class="inline"><%= link_to "View", user, :class => "btn btn-xm btn-info" %> <%= link_to "Edit", edit_user_path(user.userid), :class => "btn btn-xm btn-info"%></div></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="clearfix"></div>
		</div>
		<%= button_to "Create User", createuser_path, :class => "btn btn-large btn-block btn-info"%>
		<%= button_to 'Back', home_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
</div>