<% provide(:title, 'All Cloud Users') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-user"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Users</span>
			</div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered" id="datatable_users">
				<thead>
					<tr>
						<th> First Name </th>
						<th> Last Name </th>
						<th> User Type </th>
						<th> Charity </th>
						<th> Status </th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% (@users).each do |user| %>
					<tr>
						<td> <%= user.firstName %> </td>
						<td> <%= user.lastName %> </td>
						<td> 
							<% if user.userType == 1%> 
								Charity Local Admin							
							<% else %>
								Admin
							<% end %>
						</td>
						<td> <%= Charity.find(user.charityid).name %> </td>
						<td> 
							<% if user.status == 1 %>
								Active
							<% else %>
								Inactive
							<% end %>
					    </td>
						<td style="text-align: right;"> <div class="inline"><%= link_to "View", user, :class => "btn btn-xm btn-info" %> <%= link_to "Edit", edit_user_path(user.userid), :class => "btn btn-xm btn-info"%></div></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="clearfix"></div>
		</div>
		<%= link_to "Create User", new_user_path, :class => "btn btn-large btn-block btn-info"%>
		<%= link_to 'Back', home_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
</div>