<% provide(:title, 'Create Cloud User') %>
<div class="block">
	<div class="block">
		<div class="grid">
			<div class="grid-title">
				<div class="pull-left">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<div class="pull-left" style="padding-top: 10px;">
					<span>New Cloud User</span>
				</div>
			</div>
			<div class="grid-content">
				<%= form_for @user, html: {role: "form"} do |f| %>
				<%= render 'shared/error_messages' %>
				<div class="formRow">
					<%= f.label :firstName, "First Name", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :firstName , :placeholder => 'First Name', class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :lastName, "Last Name", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :lastName , :placeholder => 'Last Name', class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :email, "Email", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :email , :placeholder => 'Email', class: "form-control", type: "email", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :userName, "Username", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :userName , :placeholder => 'User Name', class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :password, "Password", class: "label-gray"%>
					<div class="formRight">
						<%= f.password_field :password , :placeholder => 'Password',class: "form-control", type: "password", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :password_confirmation, "Repeat Password", class: "label-gray"%>
					<div class="formRight">
						<%= f.password_field :password_confirmation , class: "span input", :placeholder => 'Repeat Password',class: "form-control", type: "password", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :question, "Security Question", class: "label-gray"%>
					<div class="formRight">
						<%= f.select :question, [['Who was your childhood hero?',1], ['What is the name of the company of your first job?',2], ['What was your childhood nickname?',3], ['What school did you attend for sixth grade?',4], ['What street did you live on in third grade?',5]], class: "form-control", required: "true"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :answer, "Security Answer", class: "label-gray"%>
					<div class="formRight">
						<%= f.text_field :answer , :placeholder => 'Enter security answer', class: "form-control", type: "text", required: "true",autocomplete: "off"  %>
					</div>
				</div>
				<% if current_user.userType != 0 %>
					<div class="formRow">
						<%= f.label :charityid, "Charity", class: "label-gray"%>
						<div class="formRight">
							<%= f.collection_select :charityid, Charity.where("charityid = ? AND status = 1",current_user.charityid),:charityid,:name,class: "form-control", required: "true"  %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :userType, "User Type", class: "label-gray"%>
						<div class="formRight">
							<%= f.select :userType, [['Charity Local Admin',1]], class: "form-control", required: "true"  %>
						</div>
					</div>
				<% else %>
					<div class="formRow">
						<%= f.label :charityid, "Charity", class: "label-gray"%>
						<div class="formRight">
							<%= f.collection_select :charityid, Charity.where("status = 1"),:charityid,:name,class: "form-control", required: "true"  %>
						</div>
					</div>
					<div class="formRow">
						<%= f.label :userType, "User Type", class: "label-gray"%>
						<div class="formRight">
							<%= f.select :userType, [['Admin',0], ['Charity Local Admin',1]], class: "form-control", required: "true"  %>
						</div>
					</div>
				<% end %>
				<div class="formRow">
					<%= f.label :status, "Status", class: "label-gray"%>
					<div class="formRight">
						<%= f.select :status, [['Active',1]], class: "form-control", required: "true"  %>
					</div>
				</div>
				<div class="formRow">
					<%= f.label :avatar, "Picture", class: "label-gray"%>
					<div class="formRight">
						<%= f.file_field :avatar , class: "form-control", type: "file"%>
						<span><b>(Insert an image extention jpg or png with size less than 2 MB)</b></span>
					</div>
				</div>
				<%= f.submit "Create Account", :class => "btn btn-large btn-block btn-info"%>
				<%= link_to 'Back', users_path, :class => "btn btn-large btn-block btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
</div>