<% provide(:title, @user.firstName) %>
<div class="block">
  <div class="grid">
    <div class="grid-title">

     <div class="pull-left">
      <div class="icon-title"><i class="icon-user"></i></div>
      <span></span> 
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>   

  </div>
  <div class="grid-content padding-none">
    <table class="table table-striped">
      <thead><tr></tr><tr></tr></thead>
      <tbody>
        <tr>
          <td>
            <div>
              <div class="grid-content">
                <ul>
                  <div class="thumbnail"> <%= image_tag @user.avatar.url(:medium) %>
                    <div class="caption"> <h3>Profile Picture</h3> </div>
                  </div>
                </li>   
              </ul>
            </div>
          </td>
          <td style="width: 950px;">
            <div class="grid-content">

              <table class="table table-striped">

                <thead><tr></tr></thead>
                <tbody>

                  <tr>
                    <td>First Name: </td>
                    <td><%= @user.firstName %></td>
                  </tr>
                  <tr>
                    <td>Last Name: </td>
                    <td><%= @user.lastName %> </td>
                  </tr>
                  <tr>
                    <td>User Name: </td>
                    <td><%= @user.userName %> </td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <td>User Type:</td>
                    <td> <%= type_of_user( @user.userType ) %> </td>
                  </tr>
                  <tr>
                    <td>User Status:</td>
                    <td> <%= status( @user.status ) %> </td>
                  </tr>
                </tbody>

              </table>

            </div>

          </div>
        </td>
      </tr>
    </tbody>

  </table>
  <% if  admin_user? %>
  <%= link_to "Edit Profile", edit_user_path(@user.userName),  :class => "btn btn-large btn-block btn-info"%>   

  <%= link_to "Change Password",  "#change_password", "data-toggle" => "modal", :class => "btn btn-large btn-block btn-inverse"%>
  <% end %>
</div>
</div>


<!-- Modal -->
<div id="change_password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Change Password</h3>
</div>
<%= render 'change_pass' %>
</div>

</div>
</div>



