<div id="wrapper">
	<div id="login" class="animate form position">
		<%= form_for @user, role: "form", :url => password_reset_path(params[:id]) do |f| %>
		<div class="content-login">
			<div class="header">
				Reset Password
			</div>
			<div class="grid-content overflow"> 
				<%= f.label :password, :class => "reset_pass"%> 
				<%= f.password_field :password,class: "form-control", type: "password" %> 
			</div>
			<div class="grid-content overflow">
				<%= f.label :password_confirmation, :class => "reset_pass" %>  
				<%= f.password_field :password_confirmation,class: "form-control", type: "password" %>				
			</div>
			<div class="clear"></div>
			<div class="button-login">
				<%= f.submit "Update Password", class: "btn btn-primary btn-lg btn-block" %>
			</div>
		</div>
		<div class="footer-login">
			<div class="clear"></div>
		</div>
		<% end %>		
	</div>
</div>