<div id="wrapper">
	<div id="login" class="animate form position">
		<%= form_tag password_resets_path, role: "form", :method => :post do %>
		<div class="content-login">
			<div class="header">
				Reset Password Form
			</div>
			<div class="grid-content overflow"> 
		    	<%= text_field_tag :email,  nil, :placeholder => 'Enter email address...', class: "form-control", type: "email" %>
			</div>
			<div class="grid-content overflow">
				<%= select_tag "question", options_for_select([['Who was your childhood hero?',1], ['What is the name of the company of your first job?',2], ['What was your childhood nickname?',3], ['What school did you attend for sixth grade?',4], ['What street did you live on in third grade?',5]]) %>
		  	</div>
		  	<div class="grid-content overflow">
				<%= text_field_tag :answer ,  nil, :placeholder => 'Enter security answer...', class: "form-control", type: "text" %>
		  	</div>
			<div class="clear"></div>
			<div class="button-login">
				<%= submit_tag "Reset Password", class: "btn btn-primary btn-lg btn-block"  %>
				<%= link_to "Back", root_path, class: "btn btn-default btn-lg btn-back-login"  %>
			</div>
		</div>
		<div class="footer-login">
			<div class="clear"></div>
		</div>
		<% end %>		
	</div>
</div>