<% provide(:title, 'Medication List') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-align-justify"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Medications</span>
			</div>
			<div class="pull-right">
				<div class="icon-title">
					<%= link_to medications_path(format: "csv") do%> <i> Download CSV <span class="glyphicon glyphicon-save"></span></i></a> <%end%>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered" id="datatable_medication">
				<thead>
					<tr>
						<th> Medicine Name </th>
						<th> Expiration Date </th>
						<th> Status </th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @medications.each do |medication| %>
					<tr>
						<td> <%= medication.medName %> </td>
						<td> <%= medication.expiration.strftime("%m/%d/%Y")%> </td>
						<td> 
							<% if medication.status == 1 %>
								Active
							<% else %>
								Inactive
							<% end %>
					    </td>
						<td style="text-align: right;" class="action-table"> <%= link_to "View", medication, :class => "btn btn-info btn-sm"%> <%= link_to "Edit", edit_medication_path(medication.medId), :class => "btn btn-info btn-sm" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="clearfix"></div>
		</div>
		<%= link_to "Create Medication", new_medication_path, :class => "btn btn-large btn-block btn-info"%>
		<%= link_to 'Back', home_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
</div>