<% provide(:title, 'Add Medication') %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-pencil"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>New Medication</span>
			</div>
		</div>
		<div class="grid-content">
			<%= form_for @medication, html: {role: "form"} do |f| %>
			<%= render 'shared/error_messages_med' %>
			<div class="formRow">
				<%= f.label :medName, "Name", class: "label-gray"%>
				<div class="formRight">
					<%= f.text_field :medName , class: "form-control", :placeholder => 'Name of Medication',type: "text", required: "true",autocomplete: "off" %>
				</div>
			</div>
			<div class="formRow">
				<%= f.label :numContainers, "Number of Containers", class: "label-gray"%>
				<div class="formRight">
					<%= f.text_field :numContainers , class: "form-control", type: "number", :placeholder => 'Number of Containers', required: "true",autocomplete: "off"  %>
				</div>
			</div>
			<div class="formRow">
				<%= f.label :tabletsContainer, "Tables per Container", class: "label-gray"%>
				<div class="formRight">
					<%= f.text_field :tabletsContainer , class: "form-control", type: "number", :placeholder => 'Tablets Per Container', required: "true",autocomplete: "off"  %>
				</div>
			</div>
			<div class="formRow">
				<%= f.label :dosage, "Dose of Tables", class: "label-gray"%>
				<div class="formRight">
					<%= f.text_field :dosage , class: "form-control", type: "number", :placeholder => 'Amount of Dose', required: "true",autocomplete: "off"  %>
				</div>
			</div>
			<div class="formRow">
				<%= f.label :expiration, "Expiration Date", class: "label-gray"%>
				<div class="formRight">
					<%= f.text_field :expiration , class: "form-control", type: "date", :placeholder => 'Expiration', required: "true",autocomplete: "off"  %>
				</div>
			</div>
			<div class="formRow">
				<%= f.label :status, "Status", class: "label-gray"%>
				<div class="formRight">
					<%= f.select :status, [['Active',1]], class: "form-controller", required: "true"  %>
				</div>
			</div>
			<%= f.submit "Create New Medication", :class => "btn btn-large btn-block btn-info"%>
			<%= link_to 'Back', @medication,:class => "btn btn-large btn-block btn-default" %>
			<% end %>
		</div>
	</div>
</div>