<% provide(:title, @medication.medName) %>
<div class="block">
	<div class="grid">
		<div class="grid-title">
			<div class="pull-left">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
			<div class="pull-left" style="padding-top: 10px;">
				<span>Medication Information</span>
			</div>
		</div>
		<div class="grid-content overflow">
			<table class="table table-bordered table-mod-2">
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>Medication Name: </td>
						<td><%= @medication.medName %> </td>
					</tr>
					<tr>
						<td>Number of Containers: </td>
						<td><%= @medication.numContainers %></td>
					</tr>
					<tr>
						<td>Tablets Per Container: </td>
						<td><%= @medication.tabletsContainer %> </td>
					</tr>
					<tr>
						<td>Expiration: </td>
						<td><%= @medication.expiration.strftime("%m/%d/%Y") %></td>
					</tr>
					<tr>
						<td>Amount: </td>
						<td> <%= @medication.dosage %> </td>
					</tr>
				</tbody>
			</table>
		</div>
		<%= link_to 'Edit', edit_medication_path, :class => "btn btn-info btn-large btn-block" %>
		<%= link_to 'Back', medications_path, :class => "btn btn-default btn-large btn-block" %>
	</div>
