<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Med Dump">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Medication ID</Data></Cell>
        <Cell><Data ss:Type="String">Name of Medication</Data></Cell>
         <Cell><Data ss:Type="String">Number of Containers</Data></Cell>
         <Cell><Data ss:Type="String">Tablets per Container</Data></Cell>
         <Cell><Data ss:Type="String">Dose of Tablets</Data></Cell>
        <Cell><Data ss:Type="String">Expiration Date</Data></Cell>
      </Row>
    <% @medications.each do |medication| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= medication.medId %></Data></Cell>
        <Cell><Data ss:Type="String"><%= medication.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= medication.numContainers %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= medication.tabletsPerContainer %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= medication.doseOfTablets %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= medication.expiration %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>